@import "color";
@import "large-screen";
@import "font";

html,
body {
  font-family: "Open Sans", "Sarabun", sans-serif !important;
  font-size: 1rem;
  word-spacing: 1px;
  background-color: var(--bg-1-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);

}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

#container {
  min-height: 100%;
  position: relative !important;
}

#header {}

#body {
  padding-bottom: 5em;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 0;
  color: var(--gray)
}

.copy-right-ele {
  display: flex;
  height: 100%;
  align-items: center;
}

a,
.page-link,
.btn-link {
  color: var(--dark);
  text-decoration: none;
}

a:hover,
.page-link:hover,
.btn-link:hover,
.btn-link:focus,
.btn-link:visited {
  color: var(--blue);
  text-decoration: none;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "เลือกรูปภาพ";
}

// pagination
.pagination-lg .page-link {
  font-size: 1rem;
  line-height: 1rem;
}

.page-item.active .page-link {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}

.container-height {
  position: fixed;
  padding-top: 4em;
}

.col-form-label {
  font-weight: bold;
}

.form-control {
  height: 3rem !important;
  border: 0;
}

.btn {
  font-size: 1rem;
}

.small-device {
  padding: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease-out;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

.jumbotron-special {
  background: url("./images/blue_waves.png") var(--bg-1-color);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-special {
  padding: 4em 2em 2em 2em;
}

.breadcrumb {
  font-size: 14px;

  li a {
    color: var(--gray);
  }
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: ":";
}

.nav {
  width: 100%;
}

.bg-light {
  background-color: var(--bg-1-color) !important;
}

.bg-image {
  background: url("./images/bg_00.svg") #2d313c;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  padding: 0.1rem 0;
  border-bottom: 1px solid var(--gray-light);
  box-shadow: 0 0.1rem 0.8em var(--secondary);
}

.content-margin-top {
  margin-top: 4rem;
}

.vld-overlay.is-full-page {
  z-index: 9999 !important;
}

.vld-overlay {
  position: fixed !important;
}

// Login

.login {
  text-align: center;

  .btn-line {
    width: 100%;
    border-radius: 50px;
    background-color: var(--primary-2);
    margin-bottom: 1rem;
    border-color: var(--primary-2);
  }

  .outline,
  .outline:hover,
  .outline:active,
  .outline:focus,
  .outline:visited {
    background-color: transparent;
    color: var(--dark);
    border-color: transparent;
  }

  img.logo {
    width: 100px;
    border-radius: 50%;
    padding: 1.6rem 0;
  }

  h3 {
    margin-bottom: 1rem;
  }
}

.signout,
.signout:hover,
.signout:focus {
  color: var(--red);
}

// side bar profile
.profile {
  .info {
    display: block;
    float: left;
    line-height: 1.2rem;
  }

  .text {
    color: var(--dark);
    margin: 0.1rem 1rem 0 1rem;
    word-break: break-all;

    p {
      margin-bottom: 0;
    }
  }
}

// sidebar

.logo-nav {
  display: none;
  font-size: 1.6rem;
  color: var(--primary-2) !important;
  font-weight: 600;
  cursor: pointer;
}

.small-logo {
  float: right;
  margin-left: 0.4rem;
  line-height: 12px;
  padding-top: 6px;

  small {
    display: block;
    font-size: 10px;
    color: var(--gray) !important;
  }
}

// side bar list

.menu-list {
  text-align: center;
  cursor: pointer;
  filter: grayscale(0.2);
  transition: all ease-in-out 0.2s;
}

.title-menu-list {
  background-color: var(--highlight);
}

.menu-list:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

.sidebar-header {
  font-size: 12px;
  font-weight: bold;
  color: var(--secondary);
}

// Form

.col-form-label {
  padding-top: 12px;
}

// Text
.text-delay {
  color: var(--danger);
}

// Tabs

.nav-tabs .nav-link {
  height: 65px;
  align-items: center;
  display: flex;
  padding: 0 2em;
  border-radius: 5px;
}

.nav-tabs .nav-item {
  margin-top: 0.5rem;
}

.nav-tabs .nav-item:first-child {
  margin-top: 0;
}

.nav-tabs .nav-item:last-child {
  margin-bottom: 1rem;
}

.nav-tabs .nav-link {
  border-color: var(--primary-2);
  color: var(--primary-2);
}

.nav-tabs .nav-link:hover {
  border-color: var(--primary);
  color: var(--primary);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
  background: var(--primary-2);
  background: -moz-linear-gradient(left,
    var(--primary) 0%,
    var(--primary-2) 100%);
  background: -webkit-linear-gradient(left,
    var(--primary) 0%,
    var(--primary-2) 100%);
  background: linear-gradient(to right,
    var(--primary) 0%,
    var(--primary-2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e0fd', endColorstr='#05abe0', GradientType=1);
  /* IE6-9 */
  color: var(--light);
}
