@font-face {
  font-family: 'Anakotmai Medium';
  font-weight: normal;
  src: url('./fonts/anakotmai/anakotmai-medium.eot');
  /* IE9 Compat Mode */
  src: url('./fonts/anakotmai/anakotmai-medium.woff') format('woff'),
    url('./fonts/anakotmai/anakotmai-medium.eot') format('eot');
}

@font-face {
  font-family: 'Anakotmai Light';
  font-weight: normal;
  src: url('./fonts/anakotmai/anakotmai-light.eot');
  /* IE9 Compat Mode */
  src: url('./fonts/anakotmai/anakotmai-light.woff') format('woff'),
    url('./fonts/anakotmai/anakotmai-light.eot') format('eot');
  font-weight: 400;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.scrolling-wrapper,
.menu-list,
.col-form-label {
  font-family: "Anakotmai Medium",
    sans-serif !important;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.fc-toolbar h2 {
  font-size: 16px !important;
  color: var(--dark)
}

.fc th,
.fc button {
  font-size: 12px !important;
}

.bold {
  font-weight: bold;

}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--darkblue)
}

code {
  color: var(--primary);
  font-weight: bold;
}

.h-normal {
  font-family: "Anakotmai Light",
    sans-serif !important;
}

.h6-normal {
  color: var(--dark)
}

.sm-normal {
  color: var(--gray);
  font-size: 10px
}
