h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.scrolling-wrapper,
.menu-list,
.col-form-label {
  font-family: "Open Sans", "Mitr",
    sans-serif !important;
}


.font-size-12 {
  font-size: 12px;
}


.bold {
  font-weight: bold;

}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--darkblue)
}

code {
  color: var(--gray)
}
